<!DOCTYPE html>
<html>
<head>
    <title>Attendance Tracker</title>
</head>
<body style="text-align:center; font-family:Arial">

<h2>Simple Attendance APP for teachers</h2>
<p>Geo fence tracker.</p>

<button onclick="getLocation()" style="padding:15px 30px; font-size:18px; background:red; color:white; border:none; border-radius:8px;">
    Attendance Tracker  
</button>

<p id="status"></p>

<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendLocation, showError);
    } else {
        alert("Geolocation not supported");
    }
}

function sendLocation(position) {
    fetch('/save_location', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
        })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("status").innerHTML =
            "Attendance Marked Successfully.";
    });
}

function showError(error) {
    alert("Location permission denied. Cannot send location.");
}
</script>

</body>
</html>
