<!DOCTYPE html>
<html>
<head>
    <title>CampusGeo</title>
</head>
<body style="text-align:center;font-family:Arial">

<h2>SRM UNIVERSITY🏫</h2>


<button onclick="sendLocation()" style="padding:15px;font-size:18px;background:red;color:white;border:none;">
    Register
</button>

<p id="status"></p>

<script>
function sendLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                fetch('/save_location', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude
                    })
                })
                .then(res => res.json())
                .then(data => {
                    document.getElementById("status").innerText = data.message;
                });
            },
            function() {
                alert("Location permission denied");
            }
        );
    } else {
        alert("Geolocation not supported");
    }
}
</script>

</body>
</html>
